/* ProductList.module.css */
.productList {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 16px;
padding: 16px;
}

@media screen and (max-width: 767px) {
.productList {
grid-template-columns: repeat(2, 1fr); /* Two cards in one row for mobile screens /
padding: 16px; / Add space between screen borders and cards /
justify-items: center; / Center the cards horizontally */
}

.theme {
align-items: flex-start; /* Adjust alignment for mobile screens */
}
}
